<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713263520799-t134sm2gjto8eant6l26hkrbnuqecrt0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713263520799-t134sm2gjto8eant6l26hkrbnuqecrt0</string>
	<key>API_KEY</key>
	<string>AIzaSyDU-5CLCl9cAZKFkrk841LlxWhmD8XCozU</string>
	<key>GCM_SENDER_ID</key>
	<string>713263520799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kouyamamoto.feedly</string>
	<key>PROJECT_ID</key>
	<string>feedly-test-12fd6</string>
	<key>STORAGE_BUCKET</key>
	<string>feedly-test-12fd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713263520799:ios:9c4e85c108bc2c523b092a</string>
</dict>
</plist>